<head>
	<title>Members List</title>
<!-- BOOTSTRAP BUNDLE -->
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<!-- BOOTSTRAP BUNDLE -->
</head>
<body>



<div class="container">
	<h3 style="padding-top: 80px">Add Member</h3>
	<form method="post" action="/members/add">
	  	<div class="form-row">
	    	<div class="form-group col-md-6">
	      		<label for="inputFirst">First Name</label>
	      		<input type="text" class="form-control" name="first" id="inputFirst" placeholder="First Name">
	 		</div>
	    	<div class="form-group col-md-6">
	      		<label for="inputLast">Last Name</label>
	      		<input type="text" class="form-control" name="last" id="inputLast" placeholder="Last Name">
	    	</div>
		</div>
		<div class="form-row">
		  	<div class="form-group col-md-4">
		      <label for="inputCompany">Company</label>
		      <input type="text" class="form-control" name="com" id="inputCompany" placeholder="Company">
		    </div>
		    <div class="form-group col-md-4">
		      <label for="inputCity">City</label>
		      <input type="text" class="form-control" name="city" id="inputCity" placeholder="City">
		    </div>
		    <div class="form-group col-md-4">
		      <label for="inputContact">Contact #</label>
		      <input type="number" class="form-control" name="contact" id="inputContact" placeholder="Contact #">
		    </div>
	    </div>
	    <div class="form-row">
		  	<div class="form-group col-md-4">
		      <label for="inputAge">Age</label>
		      <input type="number" class="form-control" name="age" id="inputAge" placeholder="Age">
		    </div>
		    <div class="form-group col-md-4">
		      <label for="inputDob">Date of Birth</label>
		      <input type="date" class="form-control" name=dob" id="inputDob" placeholder="Date of Birth">
		    </div>
		    <div class="form-group col-md-4">
		      <label for="inputEmail">E-mail</label>
		      <input type="email" class="form-control" name="email" id="inputEmail" placeholder="E-mail">
		    </div>
	    </div>
	    <div class="form-check">
	    	<input class="form-check-input" type="checkbox" id="gridCheck">
	    	<label class="form-check-label" for="gridCheck">
	        All fields are double checked
	    	</label>
	    </div>
	  	<button type="submit" class="btn btn-primary">Add Member</button>
	</form>
</div>

	<div class="container">
		<h3>Members List</h3>
		<div class="table-responsive-sm">
			<table class="table-dark table-hover" style="width:100%">
				<tr>
					<th>Lastname</th>
			    	<th>Firstname</th> 
			    	<th>City</th>
			    	<th>Age</th>
			    </tr>
			    <% jregistration.forEach(function(member){ %>
				<tr>
					<td>
						<%= member.value.last %>
					</td>
					<td>
						<%= member.value.first %>
					</td>
					<td>
						<%= member.value.city %>
					</td>
					<td>
						<%= member.value.age %>
					</td>
					<td>
						<form method="post" action="/members/delete/<%= member.key  %>">
							<input type="hidden" value="<%= member.value.rev %>" name="rev">
							<input type="submit" value="X">
						</form>
					</td>
				</tr>
				<% }); %>
			</table>
		</div>		
	</div>


<!-- JQUERY CDN BUNDLE -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
<!-- JQUERY CDN BUNDLE -->
<!-- BOOTSTRAP BUNDLE -->
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
<!-- BOOTSTRAP BUNDLE -->
</body>
